@import "../rain/css/base/base.css";
@import "../rain/css/base/x.css";
@import "../rain/css/base/no-classes.css";

@import "constants.css";

body {
  display: flex;
  width: 100%;
  height: 100%;

  background-color: var(--color-background);
}

.scene {
  margin: auto;
  width: calc(20 * var(--x));
  height: calc(20 * var(--x));
  perspective: calc(60 * var(--x));
}

.scene>.cube {
  position: relative;
  width: calc(20 * var(--x));
  height: calc(20 * var(--x));
  transform-style: preserve-3d;
	transform: translateZ(calc(-20 * var(--x)));
	
	animation: cube-spin 8s infinite linear;
}

@keyframes cube-spin {
  0% {
    transform: translateZ(-100px) rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: translateZ(-100px) rotateX(360deg) rotateY(360deg);
  }
}

.cube>div {
	position: absolute;
	display: flex;
  width: calc(20 * var(--x));
	height: calc(20 * var(--x));
}

.cube>div>span {
	margin: auto;

	font-size: 150%;
}

.cube>.front {
  transform: translateZ(calc(10 * var(--x)));
  background-image: linear-gradient(to bottom, var(--color-background) 0%, var(--color-highlight) 50%, var(--color-background) 100%);
  background-size: 100% 200%;
  animation: gradient-up 5s linear infinite;
}

.cube>.top {
  transform: translateY(calc(-10 * var(--x))) rotateX(90deg);
  background: hsla(60, 100%, 50%, 0.3);
}

.cube>.right {
  transform: translateX(calc(10 * var(--x))) rotateY(90deg);
  background: hsla(120, 100%, 50%, 0.3);
}

.cube>.bottom {
  transform: translateY(calc(10 * var(--x))) rotateX(-90deg);
  background: hsla(180, 100%, 50%, 0.3);
}

.cube>.left {
  transform: translateX(calc(-10 * var(--x))) rotateY(-90deg);
  background: hsla(240, 100%, 50%, 0.3);
}

.cube>.back {
  transform: translateZ(calc(-10 * var(--x)));
  background: hsla(300, 100%, 50%, 0.3);
}

body>div.bottom {
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(to bottom, var(--color-background) 0%, var(--color-highlight) 50%, var(--color-background) 100%);
  background-size: 100% 200%;
  animation: gradient-up 5s linear infinite;

  transform: rotate3d(1, 0, 0, 60deg) translate3d(0, 10vh, 0);
}

body>div.back {
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(to bottom, var(--color-background) 0%, var(--color-highlight) 50%, var(--color-background) 100%);
  background-size: 100% 200%;
  animation: gradient-up 5s linear infinite reverse;

  transform: rotate3d(0, 0, 0, 0) translate3d(0, -30vh, -40vh);
}

@keyframes gradient-up {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 200%;
  }
}

@keyframes gradient-left {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 200% 0;
  }
}
